<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div>
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ut
        adipisci repellendus qui. Possimus cupiditate recusandae labore a est
        suscipit blanditiis ullam nihil harum doloremque saepe vero aliquam qui
        quae eligendi corporis inventore nostrum quidem dolorum, consequatur
        asperiores commodi odio tenetur! Omnis maxime eum quasi minus iste vitae
        voluptatum quis.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam ut
        adipisci repellendus qui. Possimus cupiditate recusandae labore a est
        suscipit blanditiis ullam nihil harum doloremque saepe vero aliquam qui
        quae eligendi corporis inventore nostrum quidem dolorum, consequatur
        asperiores commodi odio tenetur! Omnis maxime eum quasi minus iste vitae
        voluptatum quis.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
